*{
    padding: 0;
    margin: 0;
}

.fixed{
    position: 0;
    top: 0;
   z-index: 100; 
}

.header_container{
    background-color: #131921;
    display:flex;
    gap: 10px;
    align-items: center;
    color: wheat;
    height: 70px;
}
.logo_container{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}
    .logo_container img{
       width: 80%;
       padding-top: 10px;
       margin-left: 20px;
       vertical-align: middle;

}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
}
.delivery p{
    font-size: 10px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    flex: 1;
    
}
.search select{
    border: none;
}
.search input{
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
}
.search svg {
   padding: 7px;
   background: white;
   color: #131921;
}

.search svg:hover {
    background-color: bisque;
 }
 .search:focus-within {
    border:2px solid rgb(red, green, blue)
 }

 .fixed{
    position: sticky;
    top: 0;
    z-index: 1;
}
.header__container{
    background-color: #1a1a1a;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 80px;
    color: white;

}
.logo__container{
display: flex;
align-items: center;
justify-content: center;
width: 400px;
}
.logo__container img{
    width: 80%;
    padding-top: 5px;
    /* padding-right: 30px; */
    margin-left: 20px;
    vertical-align: middle;
}
.logo__container a{
width: 50%;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    padding: 5px;
    width: 50%;

}
.delivery p{
    font-size: 10px;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    /* flex: 1; */
}
.search select,
.search input{
    padding: 10px;
    font-weight: bold;
    border: 1px solid white;
    outline: 1px solid white;
}
/* .search select{
    border: none;
    border: 1px solid white;

} */
.search input{
    /* border: 1px solid white; */
    width: 100%;
    margin-right: -2px;
}
.search svg{
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
}
.search svg:hover{
    background-color: #d49644;
}
.search:focus-within{
    border: 3px solid #c17c31;
}
.order__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    gap: 10px;
    margin-right: 20px;

}
.order__container a{
    text-decoration: none;
    color: white;
}
.order__container p{
font-size: 10px;
}
.language {
    width: 100px;
    display: flex;
    padding: 10px;
}
.language select{
    background-color: #1a1a1a;
    color: white;
    border: none;

}
.language img{
    width: 40%;
}
.cart__main{
    display: flex;
    gap: 1px;
}
.cart{
    position: relative;

}
.cart__span{
    position: absolute;
    font-weight: bold;
    top: 0px;
    font-size: 20px;
    background-color: #1a1a1a;

    left: 16px;
    color: orange;
}
.cart__name{
    padding-top: 15px;
    font-weight: bold;
    /* vertical-align: bottom; */
}


.order__container a:hover,
.delivery:hover,
.logo__container a:hover,
.lower__container ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
}

.lower__container{
    background-color: #232f3e;
    color: white;
}
.lower__container ul{
    display: flex;
    gap: 5px;
    list-style: none;
}
.lower__container ul li{
    padding: 8px;
}
.lower__container ul li:first-child{
    display: flex;
    gap: 2px;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .header__container {
        display: flex;
        flex-direction: column !important;
        height: auto;
    }
    .lower__container ul li:not(:first-child){
        display: none;
    }
    .language{
        display: none;
    }
}